.card {
  width: 400px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px 25px 10px;
  box-shadow: 5px 5px 5px 5px grey;
}
.card p {
  font-weight: bold;
  font-size: larger;
  color: green;
  height: 50px;
}
.card img {
  width: 310px;
  height: 310px;
}
.buttonsDiv {
  margin-top: 15px;
}
.link {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: rgb(127, 154, 10);
  margin-right: 10px;
}
