body {
  background-color: rgb(37, 145, 172);
  color: white;
}

.App {
  text-align: center;
}

.taskMain {
  background-color: rgb(20, 77, 110);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 0px 10px 20px;
  font-size: 22px;
  position: relative;
  text-align: left;
  display: flex;
}

.taskMain div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: yellow;
  width: 30px;
  height: 30px;
  display: flex;
  text-align: center;
  font-size: 22px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.taskText {
  display: flex;
}

.taskMain .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: inline-block;
}

.taskMain .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.taskMain .iconsWrap span:hover {
  color: yellow;
}

.spaceTheButtons {
  margin-right: 20px;
}

.searchDiv {
  display: flex;
  justify-content: center;
}

.searchDiv input {
  width: 300px;
}
